<!DOCTYPE html>
<html>

  <head>

    <title>Tabela de Compras</title>
    
    <style>
      table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        padding: 5px;
        text-align: left;
      }
    </style>

  </head>

  <body>

    <h1>Tabela de Compras</h1>

    <table>

      <thead>
        <tr>
          <th>ID</th>
          <th>Produto</th>
          <th>Descrição</th>
          <th>Quantidade</th>
          <th>Data Para Compra</th>
        </tr>
      </thead>

      <tbody>

        <tr>
          <td>1</td>
          <td>Maçã</td>
          <td>Fruta fresca</td>
          <td>10</td>
          <td>21/03/2023</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Arroz</td>
          <td>Grão integral</td>
          <td>2</td>
          <td>25/03/2023</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Leite</td>
          <td>Semi-desnatado</td>
          <td>4</td>
          <td>27/03/2023</td>
        </tr>
        <tr>
          <td>4</td>
          <td>Feijão</td>
          <td>Preto</td>
          <td>1</td>
          <td>30/03/2023</td>
        </tr>

      </tbody>

    </table>

  </body>

</html>